html{
    font-size: 62.5%;
}
body {
    margin: 0;
    background: url(../images/repeating-triangles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    --gallery--item-width:12rem;
    --gallery--item-height: 8rem;
    --gallery-width: 25rem;
    --gallery-height: 25rem;
    --detail_container-width: 22rem;
    --detail_container-height: 22rem;
    --container--detail_title-font-size:2rem;
}
.word_logo{
    position: absolute;
    top: -5rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery--item_image{
    display: block;
    width: var(--gallery--item-width);
    height: calc(var(--gallery--item-height) - 2.5rem) ;
    
}
.gallery--item{
    border: 3px solid black;
    width: var(--gallery--item-width);
    height: var(--gallery--item-height);
    background-color: aqua;
    overflow: hidden;
    border-radius: 50px;
}
.gallery--item_title{
    display: block;
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Open Sans';
    font-style: normal;
    
}
.gallery{
    list-style: none;
    justify-content: center;
    height: var(--gallery-height);
    width: var(--gallery-width);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 2rem;
}
.detail_container{
    position: relative;
    width:var(--detail_container-width);
    height: var(--detail_container-height)
   
}
.detail_image{
    min-width:calc(var(--detail_container-width) - 1rem);
    max-width: var(--detail_container-width);
    min-height: calc(var(--detail_container-height) - 1rem);
    max-height:var(--detail_container-height) ;
    position: absolute;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    
}
.container--detail_title{
    width: 18ch;
    position: absolute;
    font-size: var(--container--detail_title-font-size);
    font-family:airstream_nfregular;
    bottom: 1rem;
    left: 3rem;
    background-color: aliceblue;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
   
   
}
.logo{
    display: in;
    border: 3px solid;
    font-family: lakeshore_brkregular;
    display: flex;
    justify-content: center;
    background-color: aqua;
    font-size:5rem;
    margin-bottom: 15px;
    height: 8rem;
    font-weight: bolder;
    

}
@media screen and (min-width: 500px){
    .main {
        display: flex;
       justify-content: center ;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        gap: 10em;
      }

    .gallery{
        width: calc(var(--gallery-width) - 10rem);
        height:calc(var(--gallery-height) + 2rem);
    }
    .detail_container{
        height: calc(var(--detail_container-height) + 3rem);
        width: calc(var(--detail_container-width) + 18rem);
    }
    .detail_image{
        min-width:calc(var(--detail_container-width) + 13rem);
        max-width:calc(var(--detail_container-width) + 13rem);
        min-height:calc(var(--detail_container-height) + 3rem);
        max-height: calc(var(--detail_container-height) + 3rem);
        

    }
    .container--detail_title{
        font-size:calc(var(--container--detail_title-font-size) + 1rem) ;

}
}
@media screen and (min-width: 1200px){
.main{
gap:20em
}
.gallery{
    height: calc(var(--gallery-height) + 30rem);
    width: calc(var(--gallery-width) - 5rem)
}
.gallery--item{
    margin: 5px;
    width: calc(var(--gallery--item-width) + 3rem);
    height: calc(var(--gallery--item-height) + 2.5rem);
    cursor: pointer;
}
.gallery--item_image{
    width:calc(var(--gallery--item-width) + 3rem);
    height:var(--gallery--item-height);
}
.detail_container{
min-height:calc(var(--detail_container-height) + 23rem);
max-height:calc(var(--detail_container-height) + 35rem);
min-width:calc(var(--detail_container-width) + 28rem);
max-width:calc(var(--detail_container-width) + 48rem);
}
.detail_image{
    position: absolute;
    min-width: calc(var(--detail_container-width) + 23rem);
    min-height:calc(var(--detail_container-height) + 20rem)
}

.container--detail_title{
    border: 3px solid ;
    position: absolute;
    font-size: calc(var(--container--detail_title-font-size) + 2rem);
    bottom: 1.2em;
    width: 20ch;
    max-height: 12ch;
    overflow-y: auto;
    text-overflow:ellipsis;   
}
.animation{
    animation: fadeIn;
    animation-duration: 2s;
   
}
.container--detail_title:hover{
    font-family: airstream_nfregular;
    white-space: initial;
       
}
}